absl-py==0.11.0
anyconfig==0.9.11
astunparse==1.6.3
backcall==0.2.0
blessings==1.7
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
filelock==3.0.12
gast==0.3.3
gdown==3.12.2
google-auth==1.22.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
google-search-results==2.0.0
h5py==2.10.0
Keras-Preprocessing==1.1.2
Markdown==3.3.3
matplotlib==3.3.3
numpy==1.18.5
pyparsing==2.4.7
requests==2.24.0
scikit-fuzzy==0.4.2
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
sklearn==0.0
yaml
